.margenSuperior{
	margin-top: 35px;
}

.margenSuperiorAlert{

	margin-top: 60px;
	margin-bottom: -50px;
}

.margenBottom{
	margin-bottom: 8px;
}

.margenVenta{
	margin-top:-8px;
	margin-bottom:-4px;
}