@charset "utf-8";
header,nav,section, atricle,aside, figure,footer{
    display:block;
}
a img{
     border:none;
}
.limpiar{
        clear:both;
}
body{
     background: #E6E6E6;
}

	#cabecera{
	margin-right: 5px;
	
	}
/*******menu******/	
#menu  img{
   display:none
}

/*----------------------------------------------------------------------------------------------------------------------*/
	

header{
	border-bottom: 2px solid #000;
	background-color:#04B45F;
	height: 80px;
	
}

header img{
	margin-left:0px;
	margin-bottom: -20px;
}



#div1 {
     overflow:scroll;
     height:500px;
     width:1000px;
}


.r{
	float: left;
	margin:15px; 
	
	padding: 2px;
}

#reporte{
	width: 400px;
	margin-top: 40px;
	margin-left: 475px;
	border:1px solid #E6E6E6;
	box-shadow: 1px 1px 1px #999;

	padding: 40px;
}

#buscador{
	width: 300px;
    margin-top: 30px;
    margin-left: 1000px;
    margin-right:10px;
}

#tabla_resultado{
	padding: 10px;
}



.caja{
	margin-top: 100px;
}


#pag{
	background: #FFF;

}

#espacio{

	height: 25px;
}

.row{
	margin-top: -16px;
}

#espacio2{
	margin-top: 100px;
}

#margenform{
	padding: 20px;
	padding-top: 20px;
	padding-bottom: 2px;
}



.fondo{
	background: rgba(51, 122, 183, 0.8);
	color: #ffffff;
}

.linea-izquierda{
	border-left: solid 3px #d9534f;	
}

.ocultar{

	display: none;
}